<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="red-link">About </a></li>
          <li><a href="/works">Works</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="red-col">About me</h2>
      <section class="about-sec">
        <div class="img-container col">
          <img src="/img/chewie-suit.webp" alt="A fine Chewbacca in a suit" />
        </div>
        <div class="intro col">
          <h3>My name is <span class="red-col">Chewbacca</span></h3>
          <p>
            Known affectionately to my friends as Chewie, is a Wookiee male
            warrior, smuggler, mechanic, pilot, and resistance fighter who
            fought in the Clone Wars, the Galactic Civil War, and the Cold War
            and subsequent First Order-Resistance War. After the war ended, I
            started working as a is a model and web designer.
          </p>
          <div class="contact-info">
            <div class="contacts">
              <h4>Name</h4>
              <h5>Chewbacca</h5>
            </div>
            <div class="contacts">
              <h4>Phone</h4>
              <h5>06642348349</h5>
            </div>
          </div>
          <div class="contact-info">
            <div class="contacts">
              <h4>Country</h4>
              <h5>Kashyyyk</h5>
            </div>
            <div class="contacts">
              <h4>E-Mail</h4>
              <h5>chewie1@gmail.ka</h5>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
