<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="red-link">About </a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <ul class="gallery">
        <li>
          <img src="/img/yerlin-matu-GtwiBmtJvaU-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/paul-hanaoka-w2DsS-ZAP4U-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/michael-sum-LEpfefQf4rU-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/ludemeula-fernandes-9UUoGaaHtNE-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/kote-puerto-so5nsYDOdxw-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/kari-shea-eMzblc6JmXM-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/james-sutton-dQ5G0h7sLno-unsplash.jpg" alt="" />
        </li>
        <li>
          <img src="/img/erik-jan-leusink-IbPxGLgJiMI-unsplash.jpg" alt="" />
        </li>
      </ul>
    </main>
  </body>
</html>
