<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/works.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about" class="red-link">About </a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2 class="red-col">My Work</h2>

      <div class="card-container">
        <div class="card">
          <div class="img-container">
            <img class="chewie-model" src="/img/chewbacca-work.jpeg" alt="" />
          </div>
          <h3>as a <span class="red-col">resistance fighter</span></h3>
          <p class="subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            repellendus soluta saepe officia modi odio magnam.
          </p>
        </div>
        <div class="card">
          <div class="img-container">
            <img src="/img/model.jpeg" alt="Chewie portrait" />
          </div>
          <h3>as a <span class="red-col">model</span></h3>
          <p class="subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            repellendus soluta.
          </p>
        </div>
        <div class="card">
          <div class="img-container">
            <img
              src="/img/Chewbacca_speaker.webp"
              alt="Chewbacca as a speacer"
            />
          </div>
          <h3>as a <span class="red-col">speaker</span></h3>
          <p class="subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            repellendus soluta saepe officia modi odio magnam.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
